.entire{
    border: 1px solid gray;
    width: 300px;
}

.pineapple{
    width: 300px;
    border: 1px solid gray;
}

.content {
    border: 1px solid gray;
    width: 300px;
}

.review{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.score {
    color: orange;
}